@model CustomerViewModel
@{           
    ViewData["Title"] = "Product by Customer";
}

<div class="container">
    @* show any message in TempData *@
    @if (TempData["registration"] != null)
    {
        <h4 class="bg-success p-2">@TempData["registration"]</h4>
    }
    <div class="row">
        <h2>Customer: @ViewBag.Customer </h2>
    </div>
    <div class="row">
        <h2>Registrations</h2>
    </div>


    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th></th>
            </tr>
        </thead>
        @if (ViewBag.Customer  > 0)
            {
                @foreach (Registration product in Model.Registrations)
                {
                    <tr>
                        <td>@product.Product.Name</td>
                        <td><a asp-controller="Registrations" asp-action="Delete" asp-route-id="@product.ProductID">Delete</a></td>


                    </tr>
                }
            }
            else
            {
                <h3>There are no assigned incidents.</h3>
            }

    </table>

    <div class="form-group">
        <label asp-for="Product.ProductID">Product</label>
        <select asp-for="Product.ProductID"
                asp-items="@(new SelectList(Model.Products, "ProductID", "Name"))"
                class="form-control">
            <option value="">Select a product ...</option>
        </select>
    
    <input type="hidden" asp-for="Customer.CustomerID" />

    <button type="submit" class="btn btn-success">Register</button>
    </div>

</div>